// Analogue Camera Adapter orderable at Toradex.

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,apalis_imx6q";
};

&i2c3 {
	status = "okay";
};

&adv_72801 {
	status = "okay";
};

&gpr {
	ipu1_csi0_mux {
		status = "okay";
	};
};

