// Enable the parallel RGB interface on Apalis iMX8X

#include "dt-bindings/gpio/gpio.h"
#include "dt-bindings/pinctrl/pads-imx8qxp.h"
#include "dt-bindings/pwm/pwm.h"

/dts-v1/;
/plugin/;
/ {
	compatible = "toradex,apalis-imx8x";
};

&backlight {
        brightness-levels = <0 45 63 88 119 158 203 255>;
        default-brightness-level = <4>;
	pwms = <&pwm_mipi_lvds1 0 6666667 PWM_POLARITY_INVERTED>;
        status = "okay";
};

&display_lcdif {
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;

	port@1 {
		reg = <1>;

		lcd_display_out: endpoint {
			remote-endpoint = <&lcd_panel_in>;
		};
	};
};

&panel_dpi {
	status = "okay";

	port {
		lcd_panel_in: endpoint {
			remote-endpoint = <&lcd_display_out>;
		};
	};
};

/* Apalis BKL1_PWM */
&pwm_mipi_lvds1 {
	status = "okay";
};

