// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2020-2021 Toradex
 */

// Enable the VGA interface on the Apalis iMX6Q. Make sure to also select a valid display configuration.

/dts-v1/;
/plugin/;

/ {
        compatible = "toradex,apalis_imx6q";
};

&vgaconnector {
	status = "okay";
};

&vgabridge {
	status = "okay";
};

&vgadisplay {
	status = "okay";
};
