// Atmel MXT touchscreen for the 7inch and 10inch display orderable at Toradex.

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "toradex,apalis_imx6q";
};

&atmel_mxt_ts {
	status = "okay";
};

&fusion_f0710a {
	status = "disabled";
};

&i2c1 {
	status = "okay";
};
