// EDT5.7 display with a resolution of 640x480 pixel

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,colibri-imx7d-emmc","toradex,apalis_imx6q", "toradex,colibri_imx6dl";
};

&{/panel-dpi} {
	status = "okay";

	width-mm = <116>;
	height-mm = <86>;

	panel-timing {
		clock-frequency = <25175000>;
		hactive = <640>;
		vactive = <480>;
		hsync-len = <30>;
		hfront-porch = <16>;
		hback-porch = <114>;
		vsync-len = <3>;
		vfront-porch = <10>;
		vback-porch = <32>;
	 };
};

