// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2020-2021 Toradex
 */

// Verdin iMX8M Plus Mezzanine dual-channel LVDS

/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mp";
};

&backlight_mezzanine {
	status = "okay";
};

&gpu_2d {
	status = "okay";
};

&gpu_3d {
	status = "okay";
};

&lcdif2 {
	status = "okay";
};

&ldb {
	fsl,dual-channel;
	status = "okay";
};

&lvds_channel0 {
	fsl,data-mapping = "jeida";
};

&ldb_phy {
	status = "okay";
};

&mix_gpu_ml {
	status = "okay";
};

&ml_vipsi {
	status = "okay";
};

&panel_lvds {
	backlight = <&backlight_mezzanine>;
	status = "okay";

	panel-timing {
		clock-frequency = <148500000>;
		hactive = <1920>;
		hback-porch = <148>;
		hfront-porch = <88>;
		hsync-len = <44>;
		vactive = <1080>;
		vback-porch = <36>;
		vfront-porch = <4>;
		vsync-len = <5>;
		pixelclk-active = <0>;
	};
};

&pwm2 {
	status = "okay";
};