// SPDX-License-Identifier: GPL-2.0+ OR MIT
/*
 * Copyright 2020 Toradex
 */

/* Verdin SPI_1 */
&ecspi2 {
	status = "okay";

	spidev20: spidev@0 {
		compatible = "toradex,evalspi";
		reg = <0>;
		spi-max-frequency = <10000000>;
		status = "okay";
	};
};

/* EEPROM on display adapter boards */
&eeprom_display_adapter {
	status = "okay";
};

/* EEPROM on Verdin Development board */
&eeprom_carrier_board {
	status = "okay";
};

&fec1 {
	status = "okay";
};

/* Verdin QSPI_1 */
&flexspi {
	status = "okay";
};

&gpio_expander_21 {
	status = "okay";
};

/* Current measurement into module VCC */
&hwmon {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

/* Verdin PCIE_1 */
&pcie0 {
	status = "okay";
};

/* Verdin PWM_3_DSI */
&pwm1 {
	status = "okay";
};


/* Verdin PWM_1 */
&pwm2 {
	status = "okay";
};

/* Verdin PWM_2 */
&pwm3 {
	status = "okay";
};

/* VERDIN I2S_1 */
&sai2 {
	status = "okay";
};

/* Verdin UART_3 */
&uart1 {
	status = "okay";
};

/* Verdin UART_1 */
&uart2 {
	status = "okay";
};

/* Verdin UART_2 */
&uart3 {
	status = "okay";
};

/* Verdin USB_1 */
&usbotg1 {
	status = "okay";
};

/* Verdin USB_2 */
&usbotg2 {
	status = "okay";
};

/* Verdin SD_1 */
&usdhc2 {
	status = "okay";
};

/* Audio Codec */
&wm8904_1a {
	status = "okay";
};
